<h1>Leet Speak Translator</h1>

<h3>Enter a sentence below to have it translated into leet speak!</h3>
<form action="/results" method="post">
  <label for="sentence">Enter your sentence here</label>
  <input type="text" name="sentence">
  <button type="submit">Translate!</button>
</form>
